.fixed-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
    background-color: white;
  }
  
  
  
  
  .carousel-item {
      height: 100vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carousel-caption {
      bottom: 270px;
    }
    
    .carousel-caption h5 {
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 25px;
    }
    
    .carousel-caption p {
      width: 75%;
      margin: auto;
      font-size: 18px;
      line-height: 1.9;
    }
    .logoss {
      width: 80px;
  }
    .navbar-light .navbar-brand {
      color: rgb(0, 0, 0);
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
    
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
      color: rgb(0, 0, 0);
    }
    
    .navbar-light .navbar-nav .nav-link {
      color: rgb(0, 0, 0);
    }
    
    .navbar-toggler {
      background: #fff;
    }
    
    .navbar-nav {
      text-align: center;
    }
    
    .nav-link {
      padding: .2rem 1rem;
    }
    
    .nav-link.active,.nav-link:focus{
      color: #fff;
    }
    
    .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      color: black !important;
    }






































#reservation {
    padding: 120px 0px;
    background-image: url(../images/contact-background-01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #reservation .section-heading {
    margin-bottom: 30px;
  }
  
  h6.contactxhead {
    font-size: 48px;
    font-family: ui-sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
  }
 h6.contactxxhead{
    font-size: 48px;
    font-family: ui-sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
 }
  p.contactxpara{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
  }
  p.contactparas {
    width: 70%;
    font-size: 16px;
    line-height: 30px;
    color: #f7f2f2;
}
.contact-form input, .contact-form textarea, .contact-form select {
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
}
#reservation .phone, #reservation .message {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

#reservation .phone i, #reservation .message i {
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    color: #fff;
    background-color: #ffa500;
    border-radius: 50%;
    font-size: 24px;
    margin-top: -35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#reservation .phone h4, #reservation .message h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}
#reservation .phone span a, #reservation .message span a {
    font-size: 14px;
    color: #2a2a2a;
    transition: all .3s;
}
#contact {
    margin-left: 30px;
    padding: 45px 30px;
    background-color: #fff;
    border-radius: 5px;
}
.contact-form input, .contact-form textarea, .contact-form select {
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
}
.contact-form button {
    margin-top: -10px;
    font-size: 13px;
    color: #fff;
    background-color: #ffa500;
    padding: 12px 25px;
    width: 100%;
    box-shadow: none;
    border: none;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
}  








footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
     .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     .social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
    
}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}
.footer-body{
    font-family: 'Signika', sans-serif;
}
.bg-grey {
   background: #292929;
}
.logo-footer {
   margin-bottom: 40px;
}
footer {
       color: grey;
}
footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}

